
.button {
    -fx-margin: 10 100 10 100;
}

.mainPane {
    -fx-background-image: url("images/beach.jpg"); /* unsplash, Pedro Monteiro */
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: BLACK;
    -fx-font-size: 16;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: LIGHTGRAY;
}

.combo-box {
    -fx-background-color: transparent;
}

.combo-box .list-cell, .combo-box .text-field {
    -fx-text-fill: BLACK;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}
.combo-box .arrow-button .arrow {
    -fx-background-color: BLACK;
}
.combo-box .arrow-button .arrow .arrow-shape {
    -fx-background-color: BLACK;
}

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: BLACK;
    -fx-prompt-text-fill: #737373;
}

.inputFieldContainer {
    -fx-border-color: transparent transparent BLACK transparent;
    -fx-border-width: 1;

    -fx-font-family: "Roboto Thin";
    -fx-font-size: 16;

    -fx-prompt-text-fill: BLACK;
}

.inputFieldLabel {
    -fx-background-color: transparent;
    -fx-text-fill: BLACK;
}

.bigButton {
    -fx-background-color: #0066cc;
    -fx-background-radius: 0;

    -fx-font-size: 16;
    -fx-font-family: "Roboto Thin";
    -fx-text-fill: WHITE;

    -fx-cursor: hand;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.bigButton:hover {
    -fx-background-color: #0059b3;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.bigButton:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.95;
}

.smallTextButton {
    -fx-background-color: transparent;
    -fx-text-fill: BLACK;
    -fx-font-size: 14;
    -fx-font-family: "Roboto Thin";
    -fx-underline: true;
    -fx-cursor: hand;
}

.smallTextButton:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #0066cc;
    -fx-font-family: "Roboto Thin";
    -fx-underline: true;
}

.smallTextButton:pressed {
    -fx-text-fill: LIGHTBLUE;
}

.smallTextButtonLabel {
    -fx-background-color: transparent;
    -fx-text-fill: BLACK;
    -fx-font-size: 14;
    -fx-font-family: "Roboto Thin";
}

.bigTitle {
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 20;
    -fx-text-fill: BLACK;

    -fx-background-color: transparent;
}

.check-box:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.check-box:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.check-box>.box {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: TRANSPARENT;
}

.check-box>.box>.mark {
    -fx-background-image: url("icons/eye.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-shape: none;
}

.check-box:selected>.box>.mark{
    -fx-background-color: transparent;
    -fx-background-image: url("icons/eye-crossed.png");
}

.errorLabel {
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 15;
    -fx-text-fill: RED;

    -fx-background-color: transparent;
}

.confirmationLabel {
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 15;
    -fx-text-fill: #33cc33;

    -fx-background-color: transparent;
}

.container {
    -fx-background-color: WHITE;
    -fx-padding: 30 50 10 50;
    -fx-background-radius: 1;
    -fx-effect: dropshadow(one-pass-box, BLACK, 15, 0.15, 0, 0);
}

.secondaryContainer {
    -fx-background-color: WHITE;
    -fx-padding: 10 50 10 50;
    -fx-background-radius: 1;
    -fx-effect: dropshadow(one-pass-box, BLACK, 15, 0.15, 0, 0);
}

.contentContainer {
    -fx-spacing: 15;
    -fx-background-color: transparent;
}