/* styles.css */

.button {
    -fx-background-color: LIGHTGREY; /* Standaard achtergrondkleur */
}

.innerButton {
    visibility: hidden; /* Verberg de inner-button standaard */
    -fx-background-color: transparent;
}

.HBox:hover .innerButton {
    visibility: visible; /* Toon de inner-button bij hover */
    -fx-background-color: DARKGREY;
    -fx-background-radius: 0 10 10 0;
}

.HBox:hover .parentButton{
    -fx-background-color: DARKGREY;
    -fx-background-radius: 10 0 0 10;
}

.HBox:hover .newChatButton {
    -fx-background-color: DARKGREY;
}

.HBox {
    -fx-background-color: LIGHTGREY;
}

.settingsButton:hover{
    -fx-background-color: DARKGREY;
}

