/* styles.css */

.button {
    -fx-background-color: LIGHTGREY; /* Standaard achtergrondkleur */
}

.optionsImage {
    -fx-opacity: 0; /* Verberg de inner-button standaard */
    -fx-background-color: transparent;
}

.HBox:hover .optionsImage {
    -fx-opacity: 1; /* Toon de inner-button bij hover */
}


.HBox:hover {
    -fx-background-color: DARKGREY;
    -fx-background-radius: 10;
}

.parentButton {
    -fx-background-color: transparent;
}

.HBox:hover .newChatButton {
    -fx-background-color: DARKGREY;
}

.HBox {
    -fx-background-color: LIGHTGREY;
}

